.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .navbar {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        left: 10%;
        z-index: 1;
    }
    .explore {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5%;
        h1 {
            margin: 100px;
        }
    }
}